html {
	&.device-desktop {
		.show-desktop {
			display: initial;
		}
		.show-mobile {
			display: none;
		}
	}

	&.device-android,
	&.device-ios {
		.show-desktop {
			display: none;
		}
		.show-mobile {
			display: initial;
		}
	}
}
